li {
    display: inline-block;
    text-decoration: none;
    position: center;
    padding: 15px;
    color: wheat;
}

a {
    color: white;
}

body {
    color: black;
    background-color: white;
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/2a/b3/06/2ab3062eb7d748cdd89f34c6dd41f089.jpg);
    margin: 0;
}

.lab {
    margin-right: 33px;
}

.logo {
    position: absolute;
    width: 90px;
    height: 90px;
    bottom: 553px;
}

article {
    margin-left: 42%;
    margin-top: 10%;
}

h2 {
    background-color: rgb(21, 255, 212);
    width: 15%;
    text-align: center;
    opacity: 0.8;
}

header {
    background-color: rgb(21, 255, 212);
    width: 100%;
    height: 90px;
}

main,
article {
    float: right;
}

.a {
    float: left;
    margin-left: 35%;
    margin-top: 10%;
}

.cleareur {
    clear: both;
    color: transparent;
    background: transparent;
}

h1 {
    text-align: center
}

button {
    margin-top: 15px;
    margin-left: 25%;
}

#textarea {
    margin-top: 15px;
}

footer {
    display: inline-block;
    text-decoration: none;
    position: center;
    padding: 15px;
}